body {
  background-color: #acb6aa;
  margin: 0;
}
#unityContainer {
  position: absolute;
  top: 120px;
  left: 70px;
}
#frameContainer {
  position: relative;
}
#frameContainer img {
  width: 100%;
}