html, body {
  height: 100%;
}
body {
  background-color: #acb6aa;
  margin: 0;
}
#unityContainer {
  top: 120px;
  left: 70px;
}
#frameContainer {
  position: relative;
}
#frameContainer img {
  width: 100%;
}
#mainContainer {
  width: 80%;
  margin: auto;
  padding: 30% 0;
}